In [92]:
#Create a Sailors and Boats dataset in Python
#@eugsokolov


#create a new sqlite database
#create database fixture





#here I show 2 of the 3 solutions I suggested: employee solution and advertising solution




from sqlalchemy import create_engine
from sqlalchemy.orm import sessionmaker

engine = create_engine('sqlite:///sailors.db',echo = True)

Session = sessionmaker(bind = engine)
session = Session()

sailors = [
	(22,"dusting",7,45.0),
	(23,"emilio",7,45.0),
	(24,"scruntus",1,33.0),
	(29,"brutus",1,33.0),
	(31,"lubber",8,55.5),
	(32,"andy",8,25.5),
	(35,"figaro",8,55.5),
	(58,"rusty",10,35),
	(59,"stum",8,25.5),
	(60,"jit",10,35),
	(61,"ossola",7,16),
	(62,"shaun",10,35),
	(64,"horatio",7,16),
	(71,"zorba",10,35),
	(74,"horatio",9,25.5),
	(85,"art",3,25.5),
	(88,"kevin",3,25.5),
	(89,"will",3,25.5),
	(90,"josh",3,25.5),
	(95,"bob",3,63.5),
]

boats = [
	(101,'Interlake','blue',45,20),
	(102,'Interlake','red',45,40),
	(103,'Clipper','green',40,50),
	(104,'Clipper','red',40,30),
	(105,'Marine','red',35,30),
	(106,'Marine','green',35,20),
	(107,'Marine','blue',35,30),
	(108,'Driftwood','red',35,20),
	(109,'Driftwood','blue',35,20),
	(110,'Klapser','red',30,40),
	(111,'Sooney','green',28,50),
	(112,'Sooney','red',28,30),
]

reserves = [
    
#note: changed some dates for function later
	(22,101,"1998-10-10",9,10,1),
	(22,102,"1998-10-10",9,10,2),
	(22,103,"1998-08-10",9,10,3),
	(22,104,"1998-07-10",13,15,4),
	(23,104,"1998-10-10",10,14,5),
	(23,105,"1998-11-10",10,14,6),
	(24,104,"1998-10-10",9,10,7),
	(31,102,"1998-11-10",10,14,8),
	(31,103,"1998-11-06",11,12,9),
	(31,104,"1998-11-12",10,14,10),
	(35,104,"1998-08-10",9,10,11),
	(35,105,"1998-11-06",11,12,12),
	(59,105,"1998-07-10",13,15,13),
	(59,106,"1998-11-12",14,16,14),
	(59,109,"1998-11-10",9,10,15),
	(60,106,"1998-09-05",11,12,16),
	(60,106,"1998-09-08",14,16,17),
	(60,109,"1998-07-10",14,16,18),
	(61,112,"1998-09-08",9,10,19),
	(62,110,"1998-11-06",11,12,20),
	(64,101,"1998-09-05",14,16,21),
	(64,102,"1998-09-08",11,12,22),
	(74,103,"1998-09-08",14,16,23),
	(88,107,"1998-09-08",14,16,24),
	(88,110,"1998-09-05",9,10,25),
	(88,110,"1998-11-12",14,16,26),
	(88,111,"1998-09-08",13,15,27),
	(89,108,"1998-10-10",14,16,28),
	(89,109,"1998-10-09",14,18,29),
	(90,109,"1998-10-10",13,15,30),
    (90,109,"1998-10-11",13,15,30),

]

campaign = [
    (1,"1998-10-10",1,0),
    (2,"1998-11-12",0,1),
    (3,"1998-09-08",1,0),
    (4,"1998-09-05",0,1),
    (5,"1998-07-10",0,1),
]

schedule = [
    (1,8,17,"Dan",1),
    (2,10,17,"Dan",8),
    (3,15,17,"Richard",9),
    (4,16,17,"Richard",2),
    (5,9,17,"Dan",4),
    (6,11,17,"Fred",6),
    (7,10,16,"Sergio",3),
    (8,8,17,"Sergio",7),
    (9,15,17,"Fred",5), 
]

from sqlalchemy import Column, Integer, String,Date,Float,Boolean
from sqlalchemy import Table, MetaData
meta = MetaData()
from sqlalchemy.ext.declarative import as_declarative
from sqlalchemy.ext.declarative.api import declared_attr
from datetime import date

@as_declarative()
class Base(object):
    @declared_attr
    def __tablename__(cls):
        return cls.__name__.lower()
    @declared_attr
    def __table_args__(cls):
        return {'extend_existing':True}

In [93]:
from sqlalchemy import ForeignKey
from sqlalchemy import CheckConstraint

class Sailor(Base):
    
    __tablename__ = 'Sailors'
    
    sid = Column(Integer, primary_key=True)
    sname = Column(String)
    rating = Column(Integer)
    age = Column(Integer)
    
    def __repr__(self):
        return "<Sailor(id='%d', name='%s', rating='%d', age = %s)>" % (
                             self.sid, self.sname, self.rating,self.age)

class Reservation(Base):
    
    __tablename__ = 'Reserves'
    __table_args__ = (
            CheckConstraint('time_out > time_in'),
            CheckConstraint('time_in <=24'),
            CheckConstraint('time_out <= 24'),
            )
    
    sid = Column(Integer,ForeignKey('Sailors.sid'),primary_key=True)
    bid = Column(Integer,ForeignKey('Boats.bid'), primary_key=True)
    day = Column(Date, primary_key=True)
    time_in = Column(Integer)
    time_out = Column(Integer)
    rid = Column(Integer, primary_key = True)
    
    def __repr__(self):
        return "<Reservation(boat id='%d', sailor id ='%d', day ='%s')>" % (
                             self.bid, self.sid, self.day)
    
class Boat(Base):
    
    __tablename__ = 'Boats'
    
    bid = Column(Integer, primary_key=True)
    bname = Column(String)
    color = Column(String)
    length = Column(Integer)
    price_per_hour = Column(Integer)
    
    def __repr__(self):
        return "<Boat(boat id='%d', boat name ='%s',color ='%s', length = '%d')>" % (
                             self.bid, self.bname, self.color,self.length)

    
class Campaign(Base):
    __tablename__ = 'campaigns'
    
    campaign_id = Column(Integer,primary_key = True)
    date = Column(Date, ForeignKey('Reserves.day'))
    advertisements = Column(Boolean)
    sales = Column(Boolean)
    
    def __repr__(self):
        return "<Campaign(campaign_id='%d', date = '%s', advertisements ='%d',sales ='%d')>" % (
                             self.campaign_id, self.date, self.advertisements,self.sales)

class Schedule(Base):
    __tablename__ = 'schedule'
    __table_args__ = (
            CheckConstraint('signed_out > signed_in'),
            CheckConstraint('signed_in <=24'),
            CheckConstraint('signed_out <= 24'),
            )
    
    schedule_id = Column(Integer,primary_key=True)
    signed_in = Column(Integer)
    signed_out = Column(Integer)
    name = Column(String)
    rid = Column(Integer, ForeignKey('Reserves.rid'))
    
    def __repr__(self):
        return "<Schedule(schedule_id = '%d',signed_in='%d', signed_out = '%d', name ='%s',rid = '%d')>" % (
                             self.schedule_id,self.signed_in, self.signed_out, self.name,self.rid)

In [94]:
Base.metadata.create_all(engine)

2020-10-17 02:04:02,485 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2020-10-17 02:04:02,486 INFO sqlalchemy.engine.base.Engine ()
2020-10-17 02:04:02,487 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2020-10-17 02:04:02,487 INFO sqlalchemy.engine.base.Engine ()
2020-10-17 02:04:02,488 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("Sailors")
2020-10-17 02:04:02,489 INFO sqlalchemy.engine.base.Engine ()
2020-10-17 02:04:02,490 INFO sqlalchemy.engine.base.Engine PRAGMA temp.table_info("Sailors")
2020-10-17 02:04:02,491 INFO sqlalchemy.engine.base.Engine ()
2020-10-17 02:04:02,492 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("Reserves")
2020-10-17 02:04:02,492 INFO sqlalchemy.engine.base.Engine ()
2020-10-17 02:04:02,493 INFO sqlalchemy.engine.base.Engine PRAGMA temp.table_info("Reserves")
2020-10-17 02:04:02,493 INFO sqlalchemy.engine.base.Engine ()
2020-10-17 02:04:02,495 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("Boats")
2020-10-17 02:04:02,495 INFO sqlalchemy.engine.base.Engine ()
2020-10-17 02:04:02,496 INFO sqlalchemy.engine.base.Engine PRAGMA temp.table_info("Boats")
2020-10-17 02:04:02,496 INFO sqlalchemy.engine.base.Engine ()
2020-10-17 02:04:02,497 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("campaigns")
2020-10-17 02:04:02,497 INFO sqlalchemy.engine.base.Engine ()
2020-10-17 02:04:02,498 INFO sqlalchemy.engine.base.Engine PRAGMA temp.table_info("campaigns")
2020-10-17 02:04:02,498 INFO sqlalchemy.engine.base.Engine ()
2020-10-17 02:04:02,499 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("schedule")
2020-10-17 02:04:02,499 INFO sqlalchemy.engine.base.Engine ()
2020-10-17 02:04:02,500 INFO sqlalchemy.engine.base.Engine PRAGMA temp.table_info("schedule")
2020-10-17 02:04:02,500 INFO sqlalchemy.engine.base.Engine ()
2020-10-17 02:04:02,501 INFO sqlalchemy.engine.base.Engine
CREATE TABLE "Sailors" (
	sid INTEGER NOT NULL,
	sname VARCHAR,
	rating INTEGER,
	age INTEGER,
	PRIMARY KEY (sid)
)


2020-10-17 02:04:02,503 INFO sqlalchemy.engine.base.Engine ()
2020-10-17 02:04:02,510 INFO sqlalchemy.engine.base.Engine COMMIT
2020-10-17 02:04:02,511 INFO sqlalchemy.engine.base.Engine
CREATE TABLE "Boats" (
	bid INTEGER NOT NULL,
	bname VARCHAR,
	color VARCHAR,
	length INTEGER,
	price_per_hour INTEGER,
	PRIMARY KEY (bid)
)


2020-10-17 02:04:02,512 INFO sqlalchemy.engine.base.Engine ()
2020-10-17 02:04:02,518 INFO sqlalchemy.engine.base.Engine COMMIT
2020-10-17 02:04:02,520 INFO sqlalchemy.engine.base.Engine
CREATE TABLE "Reserves" (
	sid INTEGER NOT NULL,
	bid INTEGER NOT NULL,
	day DATE NOT NULL,
	time_in INTEGER,
	time_out INTEGER,
	rid INTEGER NOT NULL,
	PRIMARY KEY (sid, bid, day, rid),
	CHECK (time_out > time_in),
	CHECK (time_in <=24),
	CHECK (time_out <= 24),
	FOREIGN KEY(sid) REFERENCES "Sailors" (sid),
	FOREIGN KEY(bid) REFERENCES "Boats" (bid)
)


2020-10-17 02:04:02,520 INFO sqlalchemy.engine.base.Engine ()
2020-10-17 02:04:02,528 INFO sqlalchemy.engine.base.Engine COMMIT
2020-10-17 02:04:02,530 INFO sqlalchemy.engine.base.Engine
CREATE TABLE campaigns (
	campaign_id INTEGER NOT NULL,
	date DATE,
	advertisements BOOLEAN,
	sales BOOLEAN,
	PRIMARY KEY (campaign_id),
	FOREIGN KEY(date) REFERENCES "Reserves" (day),
	CHECK (advertisements IN (0, 1)),
	CHECK (sales IN (0, 1))
)


2020-10-17 02:04:02,531 INFO sqlalchemy.engine.base.Engine ()
2020-10-17 02:04:02,538 INFO sqlalchemy.engine.base.Engine COMMIT
2020-10-17 02:04:02,540 INFO sqlalchemy.engine.base.Engine
CREATE TABLE schedule (
	schedule_id INTEGER NOT NULL,
	signed_in INTEGER,
	signed_out INTEGER,
	name VARCHAR,
	rid INTEGER,
	PRIMARY KEY (schedule_id),
	CHECK (signed_out > signed_in),
	CHECK (signed_in <=24),
	CHECK (signed_out <= 24),
	FOREIGN KEY(rid) REFERENCES "Reserves" (rid)
)


2020-10-17 02:04:02,541 INFO sqlalchemy.engine.base.Engine ()
2020-10-17 02:04:02,547 INFO sqlalchemy.engine.base.Engine COMMIT

In [95]:
for(sid,sname,rating,age) in sailors:
    session.add(Sailor(sid = sid, sname = sname, rating = rating, age = age))

In [96]:
session.commit()

2020-10-17 02:04:02,925 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2020-10-17 02:04:02,927 INFO sqlalchemy.engine.base.Engine INSERT INTO "Sailors" (sid, sname, rating, age) VALUES (?, ?, ?, ?)
2020-10-17 02:04:02,927 INFO sqlalchemy.engine.base.Engine ((22, 'dusting', 7, 45.0), (23, 'emilio', 7, 45.0), (24, 'scruntus', 1, 33.0), (29, 'brutus', 1, 33.0), (31, 'lubber', 8, 55.5), (32, 'andy', 8, 25.5), (35, 'figaro', 8, 55.5), (58, 'rusty', 10, 35)  ... displaying 10 of 20 total bound parameter sets ...  (90, 'josh', 3, 25.5), (95, 'bob', 3, 63.5))
2020-10-17 02:04:02,930 INFO sqlalchemy.engine.base.Engine COMMIT

In [97]:
for(sid,bid,v,time_in,time_out,rid) in reserves:
    session.add(Reservation(sid=sid,bid=bid,day=date(int(v[:4]), int(v[5:7]), int(v[8:10])), time_in = time_in, time_out = time_out, rid = rid))

In [98]:
session.commit()

2020-10-17 02:04:03,365 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2020-10-17 02:04:03,367 INFO sqlalchemy.engine.base.Engine INSERT INTO "Reserves" (sid, bid, day, time_in, time_out, rid) VALUES (?, ?, ?, ?, ?, ?)
2020-10-17 02:04:03,368 INFO sqlalchemy.engine.base.Engine ((22, 101, '1998-10-10', 9, 10, 1), (22, 102, '1998-10-10', 9, 10, 2), (22, 103, '1998-08-10', 9, 10, 3), (22, 104, '1998-07-10', 13, 15, 4), (23, 104, '1998-10-10', 10, 14, 5), (23, 105, '1998-11-10', 10, 14, 6), (24, 104, '1998-10-10', 9, 10, 7), (31, 102, '1998-11-10', 10, 14, 8)  ... displaying 10 of 31 total bound parameter sets ...  (90, 109, '1998-10-10', 13, 15, 30), (90, 109, '1998-10-11', 13, 15, 30))
2020-10-17 02:04:03,374 INFO sqlalchemy.engine.base.Engine COMMIT

In [99]:
for (bid, bname, color, length,price_per_hour) in boats:
    session.add(Boat(bid=bid, bname = bname, color = color, length = length,price_per_hour = price_per_hour))

In [100]:
session.commit()

2020-10-17 02:04:03,821 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2020-10-17 02:04:03,823 INFO sqlalchemy.engine.base.Engine INSERT INTO "Boats" (bid, bname, color, length, price_per_hour) VALUES (?, ?, ?, ?, ?)
2020-10-17 02:04:03,823 INFO sqlalchemy.engine.base.Engine ((101, 'Interlake', 'blue', 45, 20), (102, 'Interlake', 'red', 45, 40), (103, 'Clipper', 'green', 40, 50), (104, 'Clipper', 'red', 40, 30), (105, 'Marine', 'red', 35, 30), (106, 'Marine', 'green', 35, 20), (107, 'Marine', 'blue', 35, 30), (108, 'Driftwood', 'red', 35, 20)  ... displaying 10 of 12 total bound parameter sets ...  (111, 'Sooney', 'green', 28, 50), (112, 'Sooney', 'red', 28, 30))
2020-10-17 02:04:03,829 INFO sqlalchemy.engine.base.Engine COMMIT

In [101]:
for(campaign_id, v, advertisements, sales) in campaign:
    session.add(Campaign(campaign_id = campaign_id, date = date(int(v[:4]), int(v[5:7]), int(v[8:10])), advertisements = advertisements, sales = sales))

In [102]:
session.commit()

2020-10-17 02:04:04,283 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2020-10-17 02:04:04,284 INFO sqlalchemy.engine.base.Engine INSERT INTO campaigns (campaign_id, date, advertisements, sales) VALUES (?, ?, ?, ?)
2020-10-17 02:04:04,285 INFO sqlalchemy.engine.base.Engine ((1, '1998-10-10', 1, 0), (2, '1998-11-12', 0, 1), (3, '1998-09-08', 1, 0), (4, '1998-09-05', 0, 1), (5, '1998-07-10', 0, 1))
2020-10-17 02:04:04,287 INFO sqlalchemy.engine.base.Engine COMMIT

In [103]:
for(schedule_id,signed_in,signed_out,name,rid) in schedule:
    session.add(Schedule(schedule_id = schedule_id,signed_in = signed_in, signed_out = signed_out, name = name, rid = rid))

In [104]:
session.commit()

2020-10-17 02:04:04,789 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2020-10-17 02:04:04,791 INFO sqlalchemy.engine.base.Engine INSERT INTO schedule (schedule_id, signed_in, signed_out, name, rid) VALUES (?, ?, ?, ?, ?)
2020-10-17 02:04:04,792 INFO sqlalchemy.engine.base.Engine ((1, 8, 17, 'Dan', 1), (2, 10, 17, 'Dan', 8), (3, 15, 17, 'Richard', 9), (4, 16, 17, 'Richard', 2), (5, 9, 17, 'Dan', 4), (6, 11, 17, 'Fred', 6), (7, 10, 16, 'Sergio', 3), (8, 8, 17, 'Sergio', 7), (9, 15, 17, 'Fred', 5))
2020-10-17 02:04:04,795 INFO sqlalchemy.engine.base.Engine COMMIT

In [105]:
from sqlalchemy.sql import select
from sqlalchemy import func
from sqlalchemy import case
from sqlalchemy import and_

conn = engine.connect()

expr = case(
        [
            ((Boat.color == "red"), 1),
        ],
        else_=0,
    )

def firstQueryTest(Boat,Reservation):
    assert len(session.query(Boat.bname,func.count(Boat.bname)).\
               select_from(Boat).join(Reservation, Boat.bid == Reservation.bid).\
               group_by(Boat.bname).all()) == 6

def secondQueryTest(Sailor,Boat,Reservation):
    
    subquery = session.query(func.count(Boat.bname)).\
    select_from(Boat).filter(Boat.color == "red").subquery()
    
    assert len(session.query(Sailor.sname,Sailor.sid).
     select_from(Reservation).join(Boat).join(Sailor).\
    group_by(Sailor.sname,Sailor.sid).\
    having(func.sum(expr) == subquery).all()) == 0

def thirdQueryTest(Sailor,Boat,Reservation):
    assert len(session.query(Sailor.sname,Sailor.sid).
    select_from(Reservation).join(Boat).join(Sailor).\
    group_by(Sailor.sname,Sailor.sid).\
    having(func.sum(expr) == func.count(Boat.color)).all()) == 5


def fourthQueryTest(Boat,Reservation):
    assert session.query(Boat.bname, func.count(Reservation.sid)).\
    select_from(Reservation).join(Boat).\
    group_by(Boat.bname).first() == ('Clipper', 8)
    
def fifthQueryTest(Sailor,Boat,Reservation):
    assert len(session.query(Sailor.sname,Sailor.sid).
    select_from(Reservation).join(Boat).join(Sailor).\
    group_by(Sailor.sname,Sailor.sid).\
    having(func.sum(expr) == 0).all()) == 3

def sixthQueryTest(Sailor):
    assert (session.query(func.avg(Sailor.age)).\
    select_from(Sailor).\
    filter(Sailor.rating == 10).all())[0][0] == 35.0
    
def seventhQueryTest(Sailor):
    x = []
    for i in range(len(session.query(Sailor.rating).distinct().all())):
        
        subquery = session.query(Sailor.age).\
        select_from(Sailor).\
        filter(Sailor.rating == session.query(Sailor.rating).distinct().all()[i][0]).\
        group_by(Sailor.age).first()
        
        
        x.append(session.query(Sailor.sname,Sailor.sid).\
        select_from(Sailor).\
        filter(and_(Sailor.rating == session.query(Sailor.rating).distinct().all()[i][0],Sailor.age.in_(subquery))).first())
    
    assert len(x) == 6

def eighthQueryTest(Sailor,Boat,Reservation):
    x = []
    for i in range(len(session.query(Boat.bname).distinct().all())):
        
        x.append(session.query(func.count(Reservation.bid),Boat.bname,Sailor.sname).\
        select_from(Reservation).join(Sailor).join(Boat).\
        filter(Boat.bname == session.query(Boat.bname).distinct().all()[i][0]).\
        group_by(Boat.bname,Sailor.sname).first())

    assert len(x) == 6

In [106]:
firstQueryTest(Boat,Reservation)

2020-10-17 02:04:05,339 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2020-10-17 02:04:05,340 INFO sqlalchemy.engine.base.Engine SELECT "Boats".bname AS "Boats_bname", count("Boats".bname) AS count_1
FROM "Boats" JOIN "Reserves" ON "Boats".bid = "Reserves".bid GROUP BY "Boats".bname
2020-10-17 02:04:05,341 INFO sqlalchemy.engine.base.Engine ()

In [107]:
secondQueryTest(Sailor,Boat,Reservation)

2020-10-17 02:04:06,022 INFO sqlalchemy.engine.base.Engine SELECT "Sailors".sname AS "Sailors_sname", "Sailors".sid AS "Sailors_sid"
FROM "Reserves" JOIN "Boats" ON "Boats".bid = "Reserves".bid JOIN "Sailors" ON "Sailors".sid = "Reserves".sid GROUP BY "Sailors".sname, "Sailors".sid
HAVING sum(CASE WHEN ("Boats".color = ?) THEN ? ELSE ? END) = (SELECT count("Boats".bname) AS count_1
FROM "Boats"
WHERE "Boats".color = ?)
2020-10-17 02:04:06,023 INFO sqlalchemy.engine.base.Engine ('red', 1, 0, 'red')

In [108]:
thirdQueryTest(Sailor,Boat,Reservation)

2020-10-17 02:04:06,379 INFO sqlalchemy.engine.base.Engine SELECT "Sailors".sname AS "Sailors_sname", "Sailors".sid AS "Sailors_sid"
FROM "Reserves" JOIN "Boats" ON "Boats".bid = "Reserves".bid JOIN "Sailors" ON "Sailors".sid = "Reserves".sid GROUP BY "Sailors".sname, "Sailors".sid
HAVING sum(CASE WHEN ("Boats".color = ?) THEN ? ELSE ? END) = count("Boats".color)
2020-10-17 02:04:06,380 INFO sqlalchemy.engine.base.Engine ('red', 1, 0)

In [109]:
fourthQueryTest(Boat,Reservation)

2020-10-17 02:04:06,643 INFO sqlalchemy.engine.base.Engine SELECT "Boats".bname AS "Boats_bname", count("Reserves".sid) AS count_1
FROM "Reserves" JOIN "Boats" ON "Boats".bid = "Reserves".bid GROUP BY "Boats".bname
 LIMIT ? OFFSET ?
2020-10-17 02:04:06,643 INFO sqlalchemy.engine.base.Engine (1, 0)

In [110]:
fifthQueryTest(Sailor,Boat,Reservation)

2020-10-17 02:04:07,040 INFO sqlalchemy.engine.base.Engine SELECT "Sailors".sname AS "Sailors_sname", "Sailors".sid AS "Sailors_sid"
FROM "Reserves" JOIN "Boats" ON "Boats".bid = "Reserves".bid JOIN "Sailors" ON "Sailors".sid = "Reserves".sid GROUP BY "Sailors".sname, "Sailors".sid
HAVING sum(CASE WHEN ("Boats".color = ?) THEN ? ELSE ? END) = ?
2020-10-17 02:04:07,041 INFO sqlalchemy.engine.base.Engine ('red', 1, 0, 0)

In [111]:
sixthQueryTest(Sailor)

2020-10-17 02:04:07,281 INFO sqlalchemy.engine.base.Engine SELECT avg("Sailors".age) AS avg_1
FROM "Sailors"
WHERE "Sailors".rating = ?
2020-10-17 02:04:07,282 INFO sqlalchemy.engine.base.Engine (10,)

In [112]:
seventhQueryTest(Sailor)

2020-10-17 02:04:07,626 INFO sqlalchemy.engine.base.Engine SELECT DISTINCT "Sailors".rating AS "Sailors_rating"
FROM "Sailors"
2020-10-17 02:04:07,627 INFO sqlalchemy.engine.base.Engine ()
2020-10-17 02:04:07,629 INFO sqlalchemy.engine.base.Engine SELECT DISTINCT "Sailors".rating AS "Sailors_rating"
FROM "Sailors"
2020-10-17 02:04:07,630 INFO sqlalchemy.engine.base.Engine ()
2020-10-17 02:04:07,631 INFO sqlalchemy.engine.base.Engine SELECT "Sailors".age AS "Sailors_age"
FROM "Sailors"
WHERE "Sailors".rating = ? GROUP BY "Sailors".age
 LIMIT ? OFFSET ?
2020-10-17 02:04:07,632 INFO sqlalchemy.engine.base.Engine (7, 1, 0)
2020-10-17 02:04:07,634 INFO sqlalchemy.engine.base.Engine SELECT DISTINCT "Sailors".rating AS "Sailors_rating"
FROM "Sailors"
2020-10-17 02:04:07,635 INFO sqlalchemy.engine.base.Engine ()
2020-10-17 02:04:07,637 INFO sqlalchemy.engine.base.Engine SELECT "Sailors".sname AS "Sailors_sname", "Sailors".sid AS "Sailors_sid"
FROM "Sailors"
WHERE "Sailors".rating = ? AND "Sailors".age IN (?)
 LIMIT ? OFFSET ?
2020-10-17 02:04:07,638 INFO sqlalchemy.engine.base.Engine (7, 16, 1, 0)
2020-10-17 02:04:07,639 INFO sqlalchemy.engine.base.Engine SELECT DISTINCT "Sailors".rating AS "Sailors_rating"
FROM "Sailors"
2020-10-17 02:04:07,640 INFO sqlalchemy.engine.base.Engine ()
2020-10-17 02:04:07,642 INFO sqlalchemy.engine.base.Engine SELECT "Sailors".age AS "Sailors_age"
FROM "Sailors"
WHERE "Sailors".rating = ? GROUP BY "Sailors".age
 LIMIT ? OFFSET ?
2020-10-17 02:04:07,643 INFO sqlalchemy.engine.base.Engine (1, 1, 0)
2020-10-17 02:04:07,645 INFO sqlalchemy.engine.base.Engine SELECT DISTINCT "Sailors".rating AS "Sailors_rating"
FROM "Sailors"
2020-10-17 02:04:07,645 INFO sqlalchemy.engine.base.Engine ()
2020-10-17 02:04:07,647 INFO sqlalchemy.engine.base.Engine SELECT "Sailors".sname AS "Sailors_sname", "Sailors".sid AS "Sailors_sid"
FROM "Sailors"
WHERE "Sailors".rating = ? AND "Sailors".age IN (?)
 LIMIT ? OFFSET ?
2020-10-17 02:04:07,648 INFO sqlalchemy.engine.base.Engine (1, 33, 1, 0)
2020-10-17 02:04:07,650 INFO sqlalchemy.engine.base.Engine SELECT DISTINCT "Sailors".rating AS "Sailors_rating"
FROM "Sailors"
2020-10-17 02:04:07,650 INFO sqlalchemy.engine.base.Engine ()
2020-10-17 02:04:07,652 INFO sqlalchemy.engine.base.Engine SELECT "Sailors".age AS "Sailors_age"
FROM "Sailors"
WHERE "Sailors".rating = ? GROUP BY "Sailors".age
 LIMIT ? OFFSET ?
2020-10-17 02:04:07,652 INFO sqlalchemy.engine.base.Engine (8, 1, 0)
2020-10-17 02:04:07,654 INFO sqlalchemy.engine.base.Engine SELECT DISTINCT "Sailors".rating AS "Sailors_rating"
FROM "Sailors"
2020-10-17 02:04:07,655 INFO sqlalchemy.engine.base.Engine ()
2020-10-17 02:04:07,657 INFO sqlalchemy.engine.base.Engine SELECT "Sailors".sname AS "Sailors_sname", "Sailors".sid AS "Sailors_sid"
FROM "Sailors"
WHERE "Sailors".rating = ? AND "Sailors".age IN (?)
 LIMIT ? OFFSET ?
2020-10-17 02:04:07,658 INFO sqlalchemy.engine.base.Engine (8, 25.5, 1, 0)
2020-10-17 02:04:07,661 INFO sqlalchemy.engine.base.Engine SELECT DISTINCT "Sailors".rating AS "Sailors_rating"
FROM "Sailors"
2020-10-17 02:04:07,662 INFO sqlalchemy.engine.base.Engine ()
2020-10-17 02:04:07,664 INFO sqlalchemy.engine.base.Engine SELECT "Sailors".age AS "Sailors_age"
FROM "Sailors"
WHERE "Sailors".rating = ? GROUP BY "Sailors".age
 LIMIT ? OFFSET ?
2020-10-17 02:04:07,665 INFO sqlalchemy.engine.base.Engine (10, 1, 0)
2020-10-17 02:04:07,666 INFO sqlalchemy.engine.base.Engine SELECT DISTINCT "Sailors".rating AS "Sailors_rating"
FROM "Sailors"
2020-10-17 02:04:07,666 INFO sqlalchemy.engine.base.Engine ()
2020-10-17 02:04:07,668 INFO sqlalchemy.engine.base.Engine SELECT "Sailors".sname AS "Sailors_sname", "Sailors".sid AS "Sailors_sid"
FROM "Sailors"
WHERE "Sailors".rating = ? AND "Sailors".age IN (?)
 LIMIT ? OFFSET ?
2020-10-17 02:04:07,669 INFO sqlalchemy.engine.base.Engine (10, 35, 1, 0)
2020-10-17 02:04:07,670 INFO sqlalchemy.engine.base.Engine SELECT DISTINCT "Sailors".rating AS "Sailors_rating"
FROM "Sailors"
2020-10-17 02:04:07,670 INFO sqlalchemy.engine.base.Engine ()
2020-10-17 02:04:07,672 INFO sqlalchemy.engine.base.Engine SELECT "Sailors".age AS "Sailors_age"
FROM "Sailors"
WHERE "Sailors".rating = ? GROUP BY "Sailors".age
 LIMIT ? OFFSET ?
2020-10-17 02:04:07,673 INFO sqlalchemy.engine.base.Engine (9, 1, 0)
2020-10-17 02:04:07,675 INFO sqlalchemy.engine.base.Engine SELECT DISTINCT "Sailors".rating AS "Sailors_rating"
FROM "Sailors"
2020-10-17 02:04:07,675 INFO sqlalchemy.engine.base.Engine ()
2020-10-17 02:04:07,677 INFO sqlalchemy.engine.base.Engine SELECT "Sailors".sname AS "Sailors_sname", "Sailors".sid AS "Sailors_sid"
FROM "Sailors"
WHERE "Sailors".rating = ? AND "Sailors".age IN (?)
 LIMIT ? OFFSET ?
2020-10-17 02:04:07,678 INFO sqlalchemy.engine.base.Engine (9, 25.5, 1, 0)
2020-10-17 02:04:07,680 INFO sqlalchemy.engine.base.Engine SELECT DISTINCT "Sailors".rating AS "Sailors_rating"
FROM "Sailors"
2020-10-17 02:04:07,680 INFO sqlalchemy.engine.base.Engine ()
2020-10-17 02:04:07,682 INFO sqlalchemy.engine.base.Engine SELECT "Sailors".age AS "Sailors_age"
FROM "Sailors"
WHERE "Sailors".rating = ? GROUP BY "Sailors".age
 LIMIT ? OFFSET ?
2020-10-17 02:04:07,683 INFO sqlalchemy.engine.base.Engine (3, 1, 0)
2020-10-17 02:04:07,685 INFO sqlalchemy.engine.base.Engine SELECT DISTINCT "Sailors".rating AS "Sailors_rating"
FROM "Sailors"
2020-10-17 02:04:07,685 INFO sqlalchemy.engine.base.Engine ()
2020-10-17 02:04:07,687 INFO sqlalchemy.engine.base.Engine SELECT "Sailors".sname AS "Sailors_sname", "Sailors".sid AS "Sailors_sid"
FROM "Sailors"
WHERE "Sailors".rating = ? AND "Sailors".age IN (?)
 LIMIT ? OFFSET ?
2020-10-17 02:04:07,688 INFO sqlalchemy.engine.base.Engine (3, 25.5, 1, 0)

In [113]:
eighthQueryTest(Sailor,Boat,Reservation)

2020-10-17 02:04:08,264 INFO sqlalchemy.engine.base.Engine SELECT DISTINCT "Boats".bname AS "Boats_bname"
FROM "Boats"
2020-10-17 02:04:08,265 INFO sqlalchemy.engine.base.Engine ()
2020-10-17 02:04:08,267 INFO sqlalchemy.engine.base.Engine SELECT DISTINCT "Boats".bname AS "Boats_bname"
FROM "Boats"
2020-10-17 02:04:08,267 INFO sqlalchemy.engine.base.Engine ()
2020-10-17 02:04:08,269 INFO sqlalchemy.engine.base.Engine SELECT count("Reserves".bid) AS count_1, "Boats".bname AS "Boats_bname", "Sailors".sname AS "Sailors_sname"
FROM "Reserves" JOIN "Sailors" ON "Sailors".sid = "Reserves".sid JOIN "Boats" ON "Boats".bid = "Reserves".bid
WHERE "Boats".bname = ? GROUP BY "Boats".bname, "Sailors".sname
 LIMIT ? OFFSET ?
2020-10-17 02:04:08,269 INFO sqlalchemy.engine.base.Engine ('Interlake', 1, 0)
2020-10-17 02:04:08,272 INFO sqlalchemy.engine.base.Engine SELECT DISTINCT "Boats".bname AS "Boats_bname"
FROM "Boats"
2020-10-17 02:04:08,273 INFO sqlalchemy.engine.base.Engine ()
2020-10-17 02:04:08,275 INFO sqlalchemy.engine.base.Engine SELECT count("Reserves".bid) AS count_1, "Boats".bname AS "Boats_bname", "Sailors".sname AS "Sailors_sname"
FROM "Reserves" JOIN "Sailors" ON "Sailors".sid = "Reserves".sid JOIN "Boats" ON "Boats".bid = "Reserves".bid
WHERE "Boats".bname = ? GROUP BY "Boats".bname, "Sailors".sname
 LIMIT ? OFFSET ?
2020-10-17 02:04:08,275 INFO sqlalchemy.engine.base.Engine ('Clipper', 1, 0)
2020-10-17 02:04:08,277 INFO sqlalchemy.engine.base.Engine SELECT DISTINCT "Boats".bname AS "Boats_bname"
FROM "Boats"
2020-10-17 02:04:08,278 INFO sqlalchemy.engine.base.Engine ()
2020-10-17 02:04:08,280 INFO sqlalchemy.engine.base.Engine SELECT count("Reserves".bid) AS count_1, "Boats".bname AS "Boats_bname", "Sailors".sname AS "Sailors_sname"
FROM "Reserves" JOIN "Sailors" ON "Sailors".sid = "Reserves".sid JOIN "Boats" ON "Boats".bid = "Reserves".bid
WHERE "Boats".bname = ? GROUP BY "Boats".bname, "Sailors".sname
 LIMIT ? OFFSET ?
2020-10-17 02:04:08,281 INFO sqlalchemy.engine.base.Engine ('Marine', 1, 0)
2020-10-17 02:04:08,284 INFO sqlalchemy.engine.base.Engine SELECT DISTINCT "Boats".bname AS "Boats_bname"
FROM "Boats"
2020-10-17 02:04:08,285 INFO sqlalchemy.engine.base.Engine ()
2020-10-17 02:04:08,286 INFO sqlalchemy.engine.base.Engine SELECT count("Reserves".bid) AS count_1, "Boats".bname AS "Boats_bname", "Sailors".sname AS "Sailors_sname"
FROM "Reserves" JOIN "Sailors" ON "Sailors".sid = "Reserves".sid JOIN "Boats" ON "Boats".bid = "Reserves".bid
WHERE "Boats".bname = ? GROUP BY "Boats".bname, "Sailors".sname
 LIMIT ? OFFSET ?
2020-10-17 02:04:08,287 INFO sqlalchemy.engine.base.Engine ('Driftwood', 1, 0)
2020-10-17 02:04:08,288 INFO sqlalchemy.engine.base.Engine SELECT DISTINCT "Boats".bname AS "Boats_bname"
FROM "Boats"
2020-10-17 02:04:08,289 INFO sqlalchemy.engine.base.Engine ()
2020-10-17 02:04:08,290 INFO sqlalchemy.engine.base.Engine SELECT count("Reserves".bid) AS count_1, "Boats".bname AS "Boats_bname", "Sailors".sname AS "Sailors_sname"
FROM "Reserves" JOIN "Sailors" ON "Sailors".sid = "Reserves".sid JOIN "Boats" ON "Boats".bid = "Reserves".bid
WHERE "Boats".bname = ? GROUP BY "Boats".bname, "Sailors".sname
 LIMIT ? OFFSET ?
2020-10-17 02:04:08,291 INFO sqlalchemy.engine.base.Engine ('Klapser', 1, 0)
2020-10-17 02:04:08,293 INFO sqlalchemy.engine.base.Engine SELECT DISTINCT "Boats".bname AS "Boats_bname"
FROM "Boats"
2020-10-17 02:04:08,293 INFO sqlalchemy.engine.base.Engine ()
2020-10-17 02:04:08,294 INFO sqlalchemy.engine.base.Engine SELECT count("Reserves".bid) AS count_1, "Boats".bname AS "Boats_bname", "Sailors".sname AS "Sailors_sname"
FROM "Reserves" JOIN "Sailors" ON "Sailors".sid = "Reserves".sid JOIN "Boats" ON "Boats".bid = "Reserves".bid
WHERE "Boats".bname = ? GROUP BY "Boats".bname, "Sailors".sname
 LIMIT ? OFFSET ?
2020-10-17 02:04:08,294 INFO sqlalchemy.engine.base.Engine ('Sooney', 1, 0)

In [114]:
def campaignPerformanceDay(itype="all",inventory_date = None):
    if(itype == "one"):
        return session.query(func.sum(Boat.price_per_hour * (Reservation.time_out - Reservation.time_in)),Reservation.day,Campaign.advertisements,Campaign.sales).\
    select_from(Reservation).join(Boat).join(Campaign, Reservation.day == Campaign.date).filter(Reservation.day == inventory_date).all() 
    if(itype == "all"):
        return session.query(func.sum(Boat.price_per_hour * (Reservation.time_out - Reservation.time_in)),Reservation.day,Campaign.advertisements,Campaign.sales).\
    select_from(Reservation).join(Boat).join(Campaign, Reservation.day == Campaign.date).group_by(Reservation.day).all()

In [115]:
import datetime as dt

#assumes no nonetype values
def campaignPerformanceOverTime(days=0,itype="all",inventory_date = None):

    if(itype == "one"):
        x = []
        for i in range(days):
            x.append(session.query(func.sum(Boat.price_per_hour*(Reservation.time_out - Reservation.time_in)),Reservation.day).\
                     select_from(Reservation).join(Boat).filter(Reservation.day == inventory_date-dt.timedelta(i+1)).all())
        sum_before = 0
        for i in range(days):
            sum_before+=x[i][0][0]
        x = []
        for i in range(days):
            x.append(session.query(func.sum(Boat.price_per_hour*(Reservation.time_out - Reservation.time_in)),Reservation.day).\
                     select_from(Reservation).join(Boat).filter(Reservation.day == inventory_date+dt.timedelta(i+1)).all())
        sum_after = 0
        for i in range(days):
            sum_after+=x[i][0][0]
        return f"the revenue before is {sum_before} and the revenue after is {sum_after}"
    if(itype == "all"):
        g = []
        h =[]
        for i in range(len(session.query(Campaign.date).select_from(Campaign).all())):
            g.append(session.query(Campaign.date).select_from(Campaign).all()[i][0])
        for j in g:
            x= []
            for i in range(days):
                x.append(session.query(func.sum(Boat.price_per_hour*(Reservation.time_out - Reservation.time_in)),Reservation.day).\
                         select_from(Reservation).join(Boat).filter(Reservation.day == j-dt.timedelta(i+1)).all())
            sum_before = 0
            for i in range(days):
                sum_before+=x[i][0][0]
            x=[]
            for i in range(days):
                x.append(session.query(func.sum(Boat.price_per_hour*(Reservation.time_out - Reservation.time_in)),Reservation.day).\
                         select_from(Reservation).join(Boat).filter(Reservation.day == j+dt.timedelta(i+1)).all())
            sum_after = 0
            for i in range(days):
                sum_after+=x[i][0][0]
            h.append([sum_before,sum_after,j,days])
            print(f"there was {sum_before} {days} days before {j} and {sum_after} {days} days after {j}")
            
        return h
    
    #

In [116]:
campaignPerformanceOverTime(days = 1, itype = "one", inventory_date = date(1998,10,10))

2020-10-17 02:04:10,698 INFO sqlalchemy.engine.base.Engine SELECT sum("Boats".price_per_hour * ("Reserves".time_out - "Reserves".time_in)) AS sum_1, "Reserves".day AS "Reserves_day"
FROM "Reserves" JOIN "Boats" ON "Boats".bid = "Reserves".bid
WHERE "Reserves".day = ?
2020-10-17 02:04:10,699 INFO sqlalchemy.engine.base.Engine ('1998-10-09',)
2020-10-17 02:04:10,701 INFO sqlalchemy.engine.base.Engine SELECT sum("Boats".price_per_hour * ("Reserves".time_out - "Reserves".time_in)) AS sum_1, "Reserves".day AS "Reserves_day"
FROM "Reserves" JOIN "Boats" ON "Boats".bid = "Reserves".bid
WHERE "Reserves".day = ?
2020-10-17 02:04:10,702 INFO sqlalchemy.engine.base.Engine ('1998-10-11',)

'the revenue before is 80 and the revenue after is 40'

In [117]:
campaignPerformanceDay()

2020-10-17 02:04:11,483 INFO sqlalchemy.engine.base.Engine SELECT sum("Boats".price_per_hour * ("Reserves".time_out - "Reserves".time_in)) AS sum_1, "Reserves".day AS "Reserves_day", campaigns.advertisements AS campaigns_advertisements, campaigns.sales AS campaigns_sales
FROM "Reserves" JOIN "Boats" ON "Boats".bid = "Reserves".bid JOIN campaigns ON "Reserves".day = campaigns.date GROUP BY "Reserves".day
2020-10-17 02:04:11,484 INFO sqlalchemy.engine.base.Engine ()

[(160, datetime.date(1998, 7, 10), False, True),
 (100, datetime.date(1998, 9, 5), False, True),
 (370, datetime.date(1998, 9, 8), True, False),
 (290, datetime.date(1998, 10, 10), True, False),
 (240, datetime.date(1998, 11, 12), False, True)]

In [129]:
def latesDesc():
    return session.query(func.count(Schedule.schedule_id),Schedule.name).\
    select_from(Schedule).\
    filter(Schedule.signed_out-Schedule.signed_in < (17-9)).group_by(Schedule.name).\
    order_by(func.count(Schedule.schedule_id).desc()).all()

In [143]:
def salesAsc():
    return session.query(func.sum(Boat.price_per_hour * (Reservation.time_out - Reservation.time_in)),Schedule.name).\
    select_from(Reservation).join(Boat).join(Schedule).\
    group_by(Schedule.name).order_by(func.sum(Boat.price_per_hour * (Reservation.time_out - Reservation.time_in))).all()

In [149]:
def firingProcess(priority = 'lates'):
    if(priority == 'lates'):
        return (latesDesc()[0][1])
    if(priority == 'sales'):
        return (salesAsc()[0][1])

In [150]:
firingProcess()

2020-10-17 02:26:58,265 INFO sqlalchemy.engine.base.Engine SELECT count(schedule.schedule_id) AS count_1, schedule.name AS schedule_name
FROM schedule
WHERE schedule.signed_out - schedule.signed_in < ? GROUP BY schedule.name ORDER BY count(schedule.schedule_id) DESC
2020-10-17 02:26:58,266 INFO sqlalchemy.engine.base.Engine (8,)

'Richard'

In [ ]:
def boat_availability(boat,date):
    if(len(session.query(Boat).join(Reservation).filter(and_(Boat.bname == boat,Reservation.time_out.isnot(None),Reservation.day == date)).all()) > 0:
       return True
    else:
       return False