In [1]:
#Create a Sailors and Boats dataset in Python
#@eugsokolov


#create a new sqlite database
#create database fixture
from sqlalchemy import create_engine
from sqlalchemy.orm import sessionmaker

engine = create_engine('sqlite:///sailors.db',echo = True)

Session = sessionmaker(bind = engine)
session = Session()

sailors = [
	(22,"dusting",7,45.0),
	(23,"emilio",7,45.0),
	(24,"scruntus",1,33.0),
	(29,"brutus",1,33.0),
	(31,"lubber",8,55.5),
	(32,"andy",8,25.5),
	(35,"figaro",8,55.5),
	(58,"rusty",10,35),
	(59,"stum",8,25.5),
	(60,"jit",10,35),
	(61,"ossola",7,16),
	(62,"shaun",10,35),
	(64,"horatio",7,16),
	(71,"zorba",10,35),
	(74,"horatio",9,25.5),
	(85,"art",3,25.5),
	(88,"kevin",3,25.5),
	(89,"will",3,25.5),
	(90,"josh",3,25.5),
	(95,"bob",3,63.5),
]

boats = [
	(101,'Interlake','blue',45),
	(102,'Interlake','red',45),
	(103,'Clipper','green',40),
	(104,'Clipper','red',40),
	(105,'Marine','red',35),
	(106,'Marine','green',35),
	(107,'Marine','blue',35),
	(108,'Driftwood','red',35),
	(109,'Driftwood','blue',35),
	(110,'Klapser','red',30),
	(111,'Sooney','green',28),
	(112,'Sooney','red',28),
]

reserves = [
	(22,101,"1998-10-10"),
	(22,102,"1998-10-10"),
	(22,103,"1998-08-10"),
	(22,104,"1998-07-10"),
	(23,104,"1998-10-10"),
	(23,105,"1998-11-10"),
	(24,104,"1998-10-10"),
	(31,102,"1998-11-10"),
	(31,103,"1998-11-06"),
	(31,104,"1998-11-12"),
	(35,104,"1998-08-10"),
	(35,105,"1998-11-06"),
	(59,105,"1998-07-10"),
	(59,106,"1998-11-12"),
	(59,109,"1998-11-10"),
	(60,106,"1998-09-05"),
	(60,106,"1998-09-08"),
	(60,109,"1998-07-10"),
	(61,112,"1998-09-08"),
	(62,110,"1998-11-06"),
	(64,101,"1998-09-05"),
	(64,102,"1998-09-08"),
	(74,103,"1998-09-08"),
	(88,107,"1998-09-08"),
	(88,110,"1998-09-05"),
	(88,110,"1998-11-12"),
	(88,111,"1998-09-08"),
	(89,108,"1998-10-10"),
	(89,109,"1998-08-10"),
	(90,109,"1998-10-10"),
]

from sqlalchemy import Column, Integer, String,Date,Float
from sqlalchemy import Table, MetaData
meta = MetaData()
from sqlalchemy.ext.declarative import as_declarative
from sqlalchemy.ext.declarative.api import declared_attr
from datetime import date

@as_declarative()
class Base(object):
    @declared_attr
    def __tablename__(cls):
        return cls.__name__.lower()
    @declared_attr
    def __table_args__(cls):
        return {'extend_existing':True}

#implement create table
dates = []
for (i,b,v) in reserves:
    dates.append(date(int(v[:4]), int(v[5:7]), int(v[8:10])))

In [2]:
from sqlalchemy import ForeignKey
class Sailor(Base):
    
    __tablename__ = 'Sailors'
    
    sid = Column(Integer, primary_key=True)
    sname = Column(String)
    rating = Column(Integer)
    age = Column(Integer)
    
    def __repr__(self):
        return "<User(id='%d', name='%s', rating='%d', age = %s)>" % (
                             self.sid, self.sname, self.rating,self.age)

class Reservation(Base):
    
    __tablename__ = 'Reserves'
    
    sid = Column(Integer,ForeignKey('Sailors.sid'),primary_key=True)
    bid = Column(Integer,ForeignKey('Boats.bid'), primary_key=True)
    day = Column(Date, primary_key=True)
    
    def __repr__(self):
        return "<User(boat id='%d', sailor id ='%d', day ='%s')>" % (
                             self.bid, self.sid, self.day)
    
class Boat(Base):
    
    __tablename__ = 'Boats'
    
    bid = Column(Integer, primary_key=True)
    bname = Column(String)
    color = Column(String)
    length = Column(Integer)
    
    def __repr__(self):
        return "<User(boat id='%d', boat name ='%s',color ='%s', length = '%d')>" % (
                             self.bid, self.bname, self.color,self.length)

In [3]:
Base.metadata.create_all(engine)

2020-10-15 00:49:33,008 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2020-10-15 00:49:33,011 INFO sqlalchemy.engine.base.Engine ()
2020-10-15 00:49:33,012 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2020-10-15 00:49:33,013 INFO sqlalchemy.engine.base.Engine ()
2020-10-15 00:49:33,015 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("Sailors")
2020-10-15 00:49:33,015 INFO sqlalchemy.engine.base.Engine ()
2020-10-15 00:49:33,017 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("Reserves")
2020-10-15 00:49:33,017 INFO sqlalchemy.engine.base.Engine ()
2020-10-15 00:49:33,018 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("Boats")
2020-10-15 00:49:33,019 INFO sqlalchemy.engine.base.Engine ()

In [ ]:
for(sid,sname,rating,age) in sailors:
    session.add(Sailor(sid = sid, sname = sname, rating = rating, age = age))

In [ ]:
session.commit()

In [ ]:
for(sid,bid,v) in reserves:
    session.add(Reservation(sid=sid,bid=bid,day=date(int(v[:4]), int(v[5:7]), int(v[8:10]))))

In [ ]:
session.commit()

In [ ]:
for (bid, bname, color, length) in boats:
    session.add(Boat(bid=bid, bname = bname, color = color, length = length))

In [ ]:
session.commit()

In [345]:
from sqlalchemy.sql import select
from sqlalchemy import func
from sqlalchemy import case
from sqlalchemy import and_

conn = engine.connect()

expr = case(
        [
            ((Boat.color == "red"), 1),
        ],
        else_=0,
    )

def firstQueryTest(Boat,Reservation):
    assert len(session.query(Boat.bname,func.count(Boat.bname)).\
               select_from(Boat).join(Reservation, Boat.bid == Reservation.bid).\
               group_by(Boat.bname).all()) == 6

def secondQueryTest(Sailor,Boat,Reservation):
    
    subquery = session.query(func.count(Boat.bname)).\
    select_from(Boat).filter(Boat.color == "red").subquery()
    
    assert len(session.query(Sailor.sname,Sailor.sid).
     select_from(Reservation).join(Boat).join(Sailor).\
    group_by(Sailor.sname,Sailor.sid).\
    having(func.sum(expr) == subquery).all()) == 0

def thirdQueryTest(Sailor,Boat,Reservation):
    assert len(session.query(Sailor.sname,Sailor.sid).
    select_from(Reservation).join(Boat).join(Sailor).\
    group_by(Sailor.sname,Sailor.sid).\
    having(func.sum(expr) == func.count(Boat.color)).all()) == 5


def fourthQueryTest(Boat,Reservation):
    assert session.query(Boat.bname, func.count(Reservation.sid)).\
    select_from(Reservation).join(Boat).\
    group_by(Boat.bname).first() == ('Clipper', 8)
    
def fifthQueryTest(Sailor,Boat,Reservation):
    assert len(session.query(Sailor.sname,Sailor.sid).
    select_from(Reservation).join(Boat).join(Sailor).\
    group_by(Sailor.sname,Sailor.sid).\
    having(func.sum(expr) == 0).all()) == 3

def sixthQueryTest(Sailor):
    assert (session.query(func.avg(Sailor.age)).\
    select_from(Sailor).\
    filter(Sailor.rating == 10).all())[0][0] == 35.0
    
def seventhQueryTest(Sailor):
    x = []
    for i in range(len(session.query(Sailor.rating).distinct().all())):
        
        subquery = session.query(Sailor.age).\
        select_from(Sailor).\
        filter(Sailor.rating == session.query(Sailor.rating).distinct().all()[i][0]).\
        group_by(Sailor.age).first()
        
        
        x.append(session.query(Sailor.sname,Sailor.sid).\
        select_from(Sailor).\
        filter(and_(Sailor.rating == session.query(Sailor.rating).distinct().all()[i][0],Sailor.age.in_(subquery))).first())
    
    assert len(x) == 6

def eighthQueryTest(Sailor,Boat,Reservation):
    x = []
    for i in range(len(session.query(Boat.bname).distinct().all())):
        
        x.append(session.query(func.count(Reservation.bid),Boat.bname,Sailor.sname).\
        select_from(Reservation).join(Sailor).join(Boat).\
        filter(Boat.bname == session.query(Boat.bname).distinct().all()[i][0]).\
        group_by(Boat.bname,Sailor.sname).first())

    assert len(x) == 6

In [346]:
x

['Interlake', 'Clipper', 'Marine', 'Driftwood', 'Klapser', 'Sooney']

In [347]:
firstQueryTest(Boat,Reservation)

2020-10-15 11:10:01,323 INFO sqlalchemy.engine.base.Engine SELECT "Boats".bname AS "Boats_bname", count("Boats".bname) AS count_1
FROM "Boats" JOIN "Reserves" ON "Boats".bid = "Reserves".bid GROUP BY "Boats".bname
2020-10-15 11:10:01,327 INFO sqlalchemy.engine.base.Engine ()

In [348]:
secondQueryTest(Sailor,Boat,Reservation)

2020-10-15 11:10:01,588 INFO sqlalchemy.engine.base.Engine SELECT "Sailors".sname AS "Sailors_sname", "Sailors".sid AS "Sailors_sid"
FROM "Reserves" JOIN "Boats" ON "Boats".bid = "Reserves".bid JOIN "Sailors" ON "Sailors".sid = "Reserves".sid GROUP BY "Sailors".sname, "Sailors".sid
HAVING sum(CASE WHEN ("Boats".color = ?) THEN ? ELSE ? END) = (SELECT count("Boats".bname) AS count_1
FROM "Boats"
WHERE "Boats".color = ?)
2020-10-15 11:10:01,593 INFO sqlalchemy.engine.base.Engine ('red', 1, 0, 'red')

In [349]:
thirdQueryTest(Sailor,Boat,Reservation)

2020-10-15 11:10:01,859 INFO sqlalchemy.engine.base.Engine SELECT "Sailors".sname AS "Sailors_sname", "Sailors".sid AS "Sailors_sid"
FROM "Reserves" JOIN "Boats" ON "Boats".bid = "Reserves".bid JOIN "Sailors" ON "Sailors".sid = "Reserves".sid GROUP BY "Sailors".sname, "Sailors".sid
HAVING sum(CASE WHEN ("Boats".color = ?) THEN ? ELSE ? END) = count("Boats".color)
2020-10-15 11:10:01,863 INFO sqlalchemy.engine.base.Engine ('red', 1, 0)

In [350]:
fourthQueryTest(Boat,Reservation)

2020-10-15 11:10:02,160 INFO sqlalchemy.engine.base.Engine SELECT "Boats".bname AS "Boats_bname", count("Reserves".sid) AS count_1
FROM "Reserves" JOIN "Boats" ON "Boats".bid = "Reserves".bid GROUP BY "Boats".bname
 LIMIT ? OFFSET ?
2020-10-15 11:10:02,167 INFO sqlalchemy.engine.base.Engine (1, 0)

In [351]:
fifthQueryTest(Sailor,Boat,Reservation)

2020-10-15 11:10:02,410 INFO sqlalchemy.engine.base.Engine SELECT "Sailors".sname AS "Sailors_sname", "Sailors".sid AS "Sailors_sid"
FROM "Reserves" JOIN "Boats" ON "Boats".bid = "Reserves".bid JOIN "Sailors" ON "Sailors".sid = "Reserves".sid GROUP BY "Sailors".sname, "Sailors".sid
HAVING sum(CASE WHEN ("Boats".color = ?) THEN ? ELSE ? END) = ?
2020-10-15 11:10:02,415 INFO sqlalchemy.engine.base.Engine ('red', 1, 0, 0)

In [352]:
sixthQueryTest(Sailor)

2020-10-15 11:10:02,687 INFO sqlalchemy.engine.base.Engine SELECT avg("Sailors".age) AS avg_1
FROM "Sailors"
WHERE "Sailors".rating = ?
2020-10-15 11:10:02,690 INFO sqlalchemy.engine.base.Engine (10,)

In [353]:
seventhQueryTest(Sailor)

2020-10-15 11:10:03,040 INFO sqlalchemy.engine.base.Engine SELECT DISTINCT "Sailors".rating AS "Sailors_rating"
FROM "Sailors"
2020-10-15 11:10:03,044 INFO sqlalchemy.engine.base.Engine ()
2020-10-15 11:10:03,051 INFO sqlalchemy.engine.base.Engine SELECT DISTINCT "Sailors".rating AS "Sailors_rating"
FROM "Sailors"
2020-10-15 11:10:03,053 INFO sqlalchemy.engine.base.Engine ()
2020-10-15 11:10:03,062 INFO sqlalchemy.engine.base.Engine SELECT "Sailors".age AS "Sailors_age"
FROM "Sailors"
WHERE "Sailors".rating = ? GROUP BY "Sailors".age
 LIMIT ? OFFSET ?
2020-10-15 11:10:03,064 INFO sqlalchemy.engine.base.Engine (7, 1, 0)
2020-10-15 11:10:03,070 INFO sqlalchemy.engine.base.Engine SELECT DISTINCT "Sailors".rating AS "Sailors_rating"
FROM "Sailors"
2020-10-15 11:10:03,075 INFO sqlalchemy.engine.base.Engine ()
2020-10-15 11:10:03,082 INFO sqlalchemy.engine.base.Engine SELECT "Sailors".sname AS "Sailors_sname", "Sailors".sid AS "Sailors_sid"
FROM "Sailors"
WHERE "Sailors".rating = ? AND "Sailors".age IN (?)
 LIMIT ? OFFSET ?
2020-10-15 11:10:03,087 INFO sqlalchemy.engine.base.Engine (7, 16, 1, 0)
2020-10-15 11:10:03,091 INFO sqlalchemy.engine.base.Engine SELECT DISTINCT "Sailors".rating AS "Sailors_rating"
FROM "Sailors"
2020-10-15 11:10:03,094 INFO sqlalchemy.engine.base.Engine ()
2020-10-15 11:10:03,102 INFO sqlalchemy.engine.base.Engine SELECT "Sailors".age AS "Sailors_age"
FROM "Sailors"
WHERE "Sailors".rating = ? GROUP BY "Sailors".age
 LIMIT ? OFFSET ?
2020-10-15 11:10:03,105 INFO sqlalchemy.engine.base.Engine (1, 1, 0)
2020-10-15 11:10:03,111 INFO sqlalchemy.engine.base.Engine SELECT DISTINCT "Sailors".rating AS "Sailors_rating"
FROM "Sailors"
2020-10-15 11:10:03,114 INFO sqlalchemy.engine.base.Engine ()
2020-10-15 11:10:03,119 INFO sqlalchemy.engine.base.Engine SELECT "Sailors".sname AS "Sailors_sname", "Sailors".sid AS "Sailors_sid"
FROM "Sailors"
WHERE "Sailors".rating = ? AND "Sailors".age IN (?)
 LIMIT ? OFFSET ?
2020-10-15 11:10:03,122 INFO sqlalchemy.engine.base.Engine (1, 33, 1, 0)
2020-10-15 11:10:03,126 INFO sqlalchemy.engine.base.Engine SELECT DISTINCT "Sailors".rating AS "Sailors_rating"
FROM "Sailors"
2020-10-15 11:10:03,128 INFO sqlalchemy.engine.base.Engine ()
2020-10-15 11:10:03,132 INFO sqlalchemy.engine.base.Engine SELECT "Sailors".age AS "Sailors_age"
FROM "Sailors"
WHERE "Sailors".rating = ? GROUP BY "Sailors".age
 LIMIT ? OFFSET ?
2020-10-15 11:10:03,133 INFO sqlalchemy.engine.base.Engine (8, 1, 0)
2020-10-15 11:10:03,137 INFO sqlalchemy.engine.base.Engine SELECT DISTINCT "Sailors".rating AS "Sailors_rating"
FROM "Sailors"
2020-10-15 11:10:03,139 INFO sqlalchemy.engine.base.Engine ()
2020-10-15 11:10:03,144 INFO sqlalchemy.engine.base.Engine SELECT "Sailors".sname AS "Sailors_sname", "Sailors".sid AS "Sailors_sid"
FROM "Sailors"
WHERE "Sailors".rating = ? AND "Sailors".age IN (?)
 LIMIT ? OFFSET ?
2020-10-15 11:10:03,146 INFO sqlalchemy.engine.base.Engine (8, 25.5, 1, 0)
2020-10-15 11:10:03,150 INFO sqlalchemy.engine.base.Engine SELECT DISTINCT "Sailors".rating AS "Sailors_rating"
FROM "Sailors"
2020-10-15 11:10:03,152 INFO sqlalchemy.engine.base.Engine ()
2020-10-15 11:10:03,156 INFO sqlalchemy.engine.base.Engine SELECT "Sailors".age AS "Sailors_age"
FROM "Sailors"
WHERE "Sailors".rating = ? GROUP BY "Sailors".age
 LIMIT ? OFFSET ?
2020-10-15 11:10:03,158 INFO sqlalchemy.engine.base.Engine (10, 1, 0)
2020-10-15 11:10:03,162 INFO sqlalchemy.engine.base.Engine SELECT DISTINCT "Sailors".rating AS "Sailors_rating"
FROM "Sailors"
2020-10-15 11:10:03,164 INFO sqlalchemy.engine.base.Engine ()
2020-10-15 11:10:03,168 INFO sqlalchemy.engine.base.Engine SELECT "Sailors".sname AS "Sailors_sname", "Sailors".sid AS "Sailors_sid"
FROM "Sailors"
WHERE "Sailors".rating = ? AND "Sailors".age IN (?)
 LIMIT ? OFFSET ?
2020-10-15 11:10:03,170 INFO sqlalchemy.engine.base.Engine (10, 35, 1, 0)
2020-10-15 11:10:03,173 INFO sqlalchemy.engine.base.Engine SELECT DISTINCT "Sailors".rating AS "Sailors_rating"
FROM "Sailors"
2020-10-15 11:10:03,176 INFO sqlalchemy.engine.base.Engine ()
2020-10-15 11:10:03,179 INFO sqlalchemy.engine.base.Engine SELECT "Sailors".age AS "Sailors_age"
FROM "Sailors"
WHERE "Sailors".rating = ? GROUP BY "Sailors".age
 LIMIT ? OFFSET ?
2020-10-15 11:10:03,182 INFO sqlalchemy.engine.base.Engine (9, 1, 0)
2020-10-15 11:10:03,184 INFO sqlalchemy.engine.base.Engine SELECT DISTINCT "Sailors".rating AS "Sailors_rating"
FROM "Sailors"
2020-10-15 11:10:03,186 INFO sqlalchemy.engine.base.Engine ()
2020-10-15 11:10:03,189 INFO sqlalchemy.engine.base.Engine SELECT "Sailors".sname AS "Sailors_sname", "Sailors".sid AS "Sailors_sid"
FROM "Sailors"
WHERE "Sailors".rating = ? AND "Sailors".age IN (?)
 LIMIT ? OFFSET ?
2020-10-15 11:10:03,192 INFO sqlalchemy.engine.base.Engine (9, 25.5, 1, 0)
2020-10-15 11:10:03,194 INFO sqlalchemy.engine.base.Engine SELECT DISTINCT "Sailors".rating AS "Sailors_rating"
FROM "Sailors"
2020-10-15 11:10:03,196 INFO sqlalchemy.engine.base.Engine ()
2020-10-15 11:10:03,201 INFO sqlalchemy.engine.base.Engine SELECT "Sailors".age AS "Sailors_age"
FROM "Sailors"
WHERE "Sailors".rating = ? GROUP BY "Sailors".age
 LIMIT ? OFFSET ?
2020-10-15 11:10:03,203 INFO sqlalchemy.engine.base.Engine (3, 1, 0)
2020-10-15 11:10:03,206 INFO sqlalchemy.engine.base.Engine SELECT DISTINCT "Sailors".rating AS "Sailors_rating"
FROM "Sailors"
2020-10-15 11:10:03,209 INFO sqlalchemy.engine.base.Engine ()
2020-10-15 11:10:03,212 INFO sqlalchemy.engine.base.Engine SELECT "Sailors".sname AS "Sailors_sname", "Sailors".sid AS "Sailors_sid"
FROM "Sailors"
WHERE "Sailors".rating = ? AND "Sailors".age IN (?)
 LIMIT ? OFFSET ?
2020-10-15 11:10:03,214 INFO sqlalchemy.engine.base.Engine (3, 25.5, 1, 0)

In [354]:
eighthQueryTest(Sailor,Boat,Reservation)

2020-10-15 11:10:03,950 INFO sqlalchemy.engine.base.Engine SELECT DISTINCT "Boats".bname AS "Boats_bname"
FROM "Boats"
2020-10-15 11:10:03,954 INFO sqlalchemy.engine.base.Engine ()
2020-10-15 11:10:03,963 INFO sqlalchemy.engine.base.Engine SELECT DISTINCT "Boats".bname AS "Boats_bname"
FROM "Boats"
2020-10-15 11:10:03,967 INFO sqlalchemy.engine.base.Engine ()
2020-10-15 11:10:03,976 INFO sqlalchemy.engine.base.Engine SELECT count("Reserves".bid) AS count_1, "Boats".bname AS "Boats_bname", "Sailors".sname AS "Sailors_sname"
FROM "Reserves" JOIN "Sailors" ON "Sailors".sid = "Reserves".sid JOIN "Boats" ON "Boats".bid = "Reserves".bid
WHERE "Boats".bname = ? GROUP BY "Boats".bname, "Sailors".sname
 LIMIT ? OFFSET ?
2020-10-15 11:10:03,980 INFO sqlalchemy.engine.base.Engine ('Interlake', 1, 0)
2020-10-15 11:10:03,987 INFO sqlalchemy.engine.base.Engine SELECT DISTINCT "Boats".bname AS "Boats_bname"
FROM "Boats"
2020-10-15 11:10:03,991 INFO sqlalchemy.engine.base.Engine ()
2020-10-15 11:10:04,000 INFO sqlalchemy.engine.base.Engine SELECT count("Reserves".bid) AS count_1, "Boats".bname AS "Boats_bname", "Sailors".sname AS "Sailors_sname"
FROM "Reserves" JOIN "Sailors" ON "Sailors".sid = "Reserves".sid JOIN "Boats" ON "Boats".bid = "Reserves".bid
WHERE "Boats".bname = ? GROUP BY "Boats".bname, "Sailors".sname
 LIMIT ? OFFSET ?
2020-10-15 11:10:04,002 INFO sqlalchemy.engine.base.Engine ('Clipper', 1, 0)
2020-10-15 11:10:04,009 INFO sqlalchemy.engine.base.Engine SELECT DISTINCT "Boats".bname AS "Boats_bname"
FROM "Boats"
2020-10-15 11:10:04,010 INFO sqlalchemy.engine.base.Engine ()
2020-10-15 11:10:04,014 INFO sqlalchemy.engine.base.Engine SELECT count("Reserves".bid) AS count_1, "Boats".bname AS "Boats_bname", "Sailors".sname AS "Sailors_sname"
FROM "Reserves" JOIN "Sailors" ON "Sailors".sid = "Reserves".sid JOIN "Boats" ON "Boats".bid = "Reserves".bid
WHERE "Boats".bname = ? GROUP BY "Boats".bname, "Sailors".sname
 LIMIT ? OFFSET ?
2020-10-15 11:10:04,016 INFO sqlalchemy.engine.base.Engine ('Marine', 1, 0)
2020-10-15 11:10:04,020 INFO sqlalchemy.engine.base.Engine SELECT DISTINCT "Boats".bname AS "Boats_bname"
FROM "Boats"
2020-10-15 11:10:04,024 INFO sqlalchemy.engine.base.Engine ()
2020-10-15 11:10:04,029 INFO sqlalchemy.engine.base.Engine SELECT count("Reserves".bid) AS count_1, "Boats".bname AS "Boats_bname", "Sailors".sname AS "Sailors_sname"
FROM "Reserves" JOIN "Sailors" ON "Sailors".sid = "Reserves".sid JOIN "Boats" ON "Boats".bid = "Reserves".bid
WHERE "Boats".bname = ? GROUP BY "Boats".bname, "Sailors".sname
 LIMIT ? OFFSET ?
2020-10-15 11:10:04,032 INFO sqlalchemy.engine.base.Engine ('Driftwood', 1, 0)
2020-10-15 11:10:04,038 INFO sqlalchemy.engine.base.Engine SELECT DISTINCT "Boats".bname AS "Boats_bname"
FROM "Boats"
2020-10-15 11:10:04,039 INFO sqlalchemy.engine.base.Engine ()
2020-10-15 11:10:04,045 INFO sqlalchemy.engine.base.Engine SELECT count("Reserves".bid) AS count_1, "Boats".bname AS "Boats_bname", "Sailors".sname AS "Sailors_sname"
FROM "Reserves" JOIN "Sailors" ON "Sailors".sid = "Reserves".sid JOIN "Boats" ON "Boats".bid = "Reserves".bid
WHERE "Boats".bname = ? GROUP BY "Boats".bname, "Sailors".sname
 LIMIT ? OFFSET ?
2020-10-15 11:10:04,046 INFO sqlalchemy.engine.base.Engine ('Klapser', 1, 0)
2020-10-15 11:10:04,052 INFO sqlalchemy.engine.base.Engine SELECT DISTINCT "Boats".bname AS "Boats_bname"
FROM "Boats"
2020-10-15 11:10:04,054 INFO sqlalchemy.engine.base.Engine ()
2020-10-15 11:10:04,060 INFO sqlalchemy.engine.base.Engine SELECT count("Reserves".bid) AS count_1, "Boats".bname AS "Boats_bname", "Sailors".sname AS "Sailors_sname"
FROM "Reserves" JOIN "Sailors" ON "Sailors".sid = "Reserves".sid JOIN "Boats" ON "Boats".bid = "Reserves".bid
WHERE "Boats".bname = ? GROUP BY "Boats".bname, "Sailors".sname
 LIMIT ? OFFSET ?
2020-10-15 11:10:04,062 INFO sqlalchemy.engine.base.Engine ('Sooney', 1, 0)

In [ ]:
#Base.metadata.drop_all(engine)